[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/alecthomas/syntastic.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
