*.[568vq]
*.cgo1.go
*.cgo2.c
*.db
*.egg-info
*.exe
*.iml
*.jax
*.o
*.pyc
*.so
*.sublime-project
*.sublime-workspace
*/xcuserdata/*
.*.sw?
.DS_Store
.bundle
.coverage
.cproject
.idea
.importmagic.idx
.ipython/db
.ipython/profile_default
.lock-*
.pantsenv/
.project
.rbx
.settings
.sublimelinterrc
.tags
.tags_sorted_by_file
.tmp*
.todo
.todo2
.todo2~
.vagrant*
.vendor
.venv
.vim/.netrwhist
.vim/doc/tags
.waf*
.zsh/cache
.zsh/history*
.zsh/zshrc.after
.zsh/zshrc.before
/tags
?.cc
?.py
CMakeFiles
GPATH
GRTAGS
GSYMS
GTAGS
Vagrantfile
[568vq].out
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
build
build-support/ivy/cache/
cscope.out
dist/
history
node_modules
nosetests.out
tags
zshrc.local
